@import 'bulma';

:root {
  --bg: #06315F;
  --nav-bg: #041221;
  --div-bg: #0b59ad;
  --font-color1: #fafaff;
  --font-color2: #52b7ff;
  overflow-y: hidden;
}

body {
  background: var(--bg);
  height: 100vh;
}

input::placeholder {
  color: antiquewhite;
}

.columns {
  margin-top: 20px;
}

.navbar {
  background: var(--nav-bg);
}

.navbar-item {
  color: var(--font-color1);
}

.fa {
  color: var(--font-color1);
  margin: 10px
}

.user-profile {
  background-color: var(--div-bg);
  height: 440px;
  min-width: 350px;
  margin: auto 0; 
  padding: 15px 15px;
}

.user-select {
  background: var(--div-bg);
  height: 60px;
}
button {
  background: var(--div-bg);
  border: 0 none;
  color: var(--font-color1);
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.user-select p{
  color: var(--font-color1);
  padding-top: 8px;
  margin-left: 70px;
}
.user-select:hover > p{
  color: var(--font-color2);
  text-decoration: underline;
}

.align-center {
  text-align: center;
}
.disply-archieved-users {
  width: 300px;
  .disply-user {
    font-weight: bold;
  }
  .user-name {
    padding: 10px;
  }
  .user-wrap {
    padding-bottom: 10px;
    margin-top: 10px;
    background: var(--font-color1);
    border-top: 1px solid var(--nav-bg);
    border-bottom: 1px solid var(--nav-bg);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
  }
  
}